html {
  background-color: rgb(151, 146, 146); 
}

body {
  background-color: rgb(151, 146, 146);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#headshot {
  border-radius: 35%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  z-index: 2;
}

h1 {
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: white;
  z-index: 2;
  padding-top: 70px;
  float: right;
}

h2 {
  margin-left: 20px;
}

#nav {
  background-color: rgb(44, 41, 41);
}

.card {
  margin: 5%;
  margin-top: 2%;
  display: inline-flex;
}

.PhotoHeadline {
  width: 100%;
  background-color: rgb(44, 41, 41);
}

.bodyP {
  text-align: left;
  margin-left: 20px;
  margin-right: auto;
}

.codingIcon {
  width: 60px;
  border-radius: 30%;
}

.skillsList {
  display: flex;
}

.skillsListIcon {
  list-style: none;
  flex-direction: row;
  padding: 2%;
}

.skillsListLabel {
  list-style: none;
  flex-direction: column;
  text-align: left;
  padding-top: 10px;
  }

.Projects {
  /*Need to figure out how to display the cards across the screen*/
}